/*General Recipe block*/

section.recipe-holder {
    max-width: 275px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 20px 40px 0 rgba(48, 63, 77, 0.1);
    transition: .25s ease-in-out;
    margin-bottom: 40px;
}

section.recipe-holder:hover {
    transform: translateY(-3px);
    box-shadow: 10px 20px 40px 0 rgba(48, 63, 77, 0.2);
}

section.recipe-holder a {
    text-decoration: none;
}

/*Text area*/

section .text-holder {
    padding: 5px 15px 10px 15px;

}

.text-holder h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color: #1C1DB1;
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
}

.text-holder p {
    color: #3E3E3E;
    font-weight: 300;
    line-height: 1.75em;
    margin: 0;
}

/*Spec area*/

.spec-holder {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 1px solid #DEDEDE;
}

.spec-holder .country-holder,
.spec-holder .prep-time-holder,
.spec-holder .kcal-holder {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spec-holder span {
    color: #3E3E3E;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: .5px;
    text-align: center;
}

.spec-holder img {
    max-width: 35px;
    height: auto;
    margin-bottom: 10px;
}