.ingredient-container {
    background-color: #fff;
    width: 50%;
    height: min-content;
    border-radius: 10px;
    padding: 1px 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 20px ;
}

.ingredient-container.ingredients-list {
    padding: 0;
}

.ingredient-container h2 {
    margin-top: 10px;
}

.add-item-box {
    color: #ec645b;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding-right: 15px;
    border: 1px solid #aaa;
}

.add-item-input {
    box-sizing: border-box;
    border: none;
    width: 100%;
    padding: 15px;
    color: #1C1DB1;
    background: none;
}

.add-item-input::placeholder {
    color: #1C1DB1;
}
input:focus {
    outline: 0;
}

button.plusButton {
    background: none;
    border: none;
    color: #FD8888;
    padding: 0;
    cursor: pointer;
}

.item-list {
    display: flex;
    flex-direction: column;
}

.item-list:empty ~ .save-button {
    display: none;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 5px 0;
    border-bottom: 1px #FD8888 solid;
    margin: 10px 15px 0px 15px;
}

.item-name span {
    color: #1C1DB1;
}

.eraser {
    display: flex;
    border: 1px solid #FD8888;
    border-radius: 50px;
    min-width: 40px;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background: none;
}

.eraser svg.eraserIcon {
    color: #FD8888;
}

.eraser:hover svg.eraserIcon {
    color: red;
}

.save-button {
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
}
