.name-account-holder {
    color: #fd8888;
    margin-left: 10px;
    text-transform: capitalize;
}

/*ADMIN PAGE*/

.user-list-wrapper {
    width: 100%;
    max-width: 800px;
    border: 1px solid #fd8888;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
}

table.user-list {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

table.user-list tbody {
    margin: 10px 0;
}

table.user-list th {
    width: 22%;
}

.user-list tr.user-details-row td {
    width: 22%;
}

tr.table-headers {
    width: 100%;
    display: flex;
}

tr.user-details-row {
    width: 100%;
    display: flex;
}

table.user-list tr th {
    position: relative;
}

table.user-list tr td p {
    margin: 0;
}

.enabled .active {
    color: #38b000;
    font-weight: 700;
}

.enabled .inactive {
    color: red;
    font-weight: 700;
}

td.fullname {
    text-transform: capitalize;
}