/*Container*/

.averageRating {
    max-width: calc(35% - 15px);
    border: 1px solid #fd8888;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
    width: 100%;
}

/*STARS*/

.averageRating .star-background {
    background: #F5F8FF;
    width: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.star-holder {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.averageRating .star-holder .h-6 {
    height: 3em;
}

.averageRating .star-holder .w-6 {
    width: 3em;

}

.averageRating .star-holder svg.h-6.w-6 {
    margin: 10px 2px ;
}

/*TEXT*/

.averageRating h5 {
    text-align: center;
    color: #767474;
    font-size: 12px;
}

/*VOTEBARS*/

.bar-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.bar-wrapper span {
    color: #1C1DB1;
    font-size: 12px;
    width: 10%;
    text-align: center;
}

.bar-background {
    background: #F5F8FF;
    height: 10px;
    width: 70%;
    border-radius: 50px;
    position: relative;
    margin-top: 5px;
}

.bar-wrapper:last-child .bar-background {
    margin-bottom: 0;
}

.bar-background .bar-count {
    position: absolute;
    height: 10px;
    width: 100%;
    background: #FECC48;
    border-radius: 100px;
}

.bar-background .bar-count.b1s {
    width: 6%;
}
.bar-background .bar-count.b2s {
    width: 0%;
}
.bar-background .bar-count.b3s {
    width: 6%;
}
.bar-background .bar-count.b4s {
    width: 8%;
}
.bar-background .bar-count.b5s {
    width: 82%;
}