textarea {
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 0.5px solid #aaa;
    border-radius: 4px;
    min-height: 150px;
}

.errorMessage.textArea {
    top: 10px;
}
