.account-page-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.account-page-wrapper h5 {
    margin: 0;
}

.account-devider {
    width: 1px;
    background: #1C1DB1;
    height: 200px;
}

.account-page-wrapper .login-holder {
    padding: 0 50px;
    box-sizing: border-box;
    width: 50%;
}

.account-page-wrapper .register-holder {
    padding: 0 50px;
    box-sizing: border-box;
    width: 50%;
}