.contact-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact-wrapper .contact-left,
.contact-wrapper .contact-right {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-wrapper .contact-left img {
    max-width: 50%;
}

.contact-right h1 {
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
}

.contact-right h1::after {
    display: none;
}

.contact-left .text-wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
}

.contact-left .text-wrap h5 {
    margin-bottom: 10px;
}