.login-menu {
    width: 100%;
    border: 1px solid #fd8888;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
}

.login-field {
    padding: 30px;
}

.login-field a {
    text-decoration: none;
    color: #1C1DB1;
    font-weight: 600;
    transition: .15s ease;
}

.login-field a:hover {
    color: #fd8888;
}

.login-field .forgot-password {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: underline;
}