/*Recipe detail page*/
/*General*/

.recipe-detail-page {
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
    max-width: 1280px;
}

/*Recipe header*/

.recipe-img-holder {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 250px;
    overflow: hidden;
    align-items: center;
}

.recipe-img-holder img {
    width: 100%;
}

.country-flag {
    position: absolute;
    left: 30px;
    top: 20px;
}

.country-flag img {
    max-width: 40px;
    height: auto;
    box-shadow: 0px 0px 15px 0px #ffffff;
    border-radius: 100px;
}

/*Recipe text area*/

.recipe-text-holder {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
}

.recipe-text-holder h1 {
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: left;
    margin-top: 0;
}

.recipe-text-holder h1::after {
    display: none;
}

.ingredients-holder,
.step-holder {
    border: 1px solid #FD8888;
    min-height: 100px;
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.ingredients-holder {
    width: calc(100% / 3 - 15px);
    border-radius: 10px;
    padding: 25px 0;
}

.ingredients-holder h2,
.step-holder h2 {
    margin-left: 25px;
    margin-bottom: 20px;
}

ul.ingredients-list {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    margin: 0 20px;
    line-height: 1.75em;
}

ul.ingredients-list li,
.step-holder ol li {
    margin-bottom: 5px;
    color: #3E3E3E;
}

.step-holder {
    width: calc(100% / 3 * 2 - 15px);
    border-radius: 10px;
    padding: 25px 0;
}

.step-holder ol {
    padding-right: 25px;
    line-height: 1.75em;
    margin-left: 10px;
}

.bon-apetit {
    display: flex;
    justify-content: center;
    font-family: 'Great Vibes';
    font-size: 50px;
    color: #1C1DB1;
    transform: rotate(-20deg);
    margin: 40px;
}

/*account holder*/

.account-holder {
    width: calc(100% / 3 - 15px);
    border: 1px solid #FD8888;
    border-radius: 10px;
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
    display: flex;
    align-items: center;
}

.account-image {
    border-radius: 50px;
    background: url(//via.placeholder.com/60x60);
    width: 60px;
    height: 60px;
    margin: 10px 20px 10px 20px;
}

.account-image img {
    max-width: 60px;
}

.account-holder h3 {
    color: #1C1DB1;
    font-weight: 400;
    text-transform: capitalize;
}

/*navigation*/

.recipe-nav-holder {
    width: calc(100% / 3 * 2 - 15px);
    display: flex;
    justify-content: space-evenly;
    padding: 23px;
    box-sizing: border-box;
    border: 1px solid #FD8888;
    border-radius: 10px;
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
}

.recipe-nav-holder .btn {
    min-width: 100px;
}

/*Comment section*/

.comment-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    overflow: scroll;
    box-sizing: border-box;
    padding: 0 30px 40px;
}

.comment-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
    border-radius: 10px;
}

.comment-holder {
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
    min-width: 40%;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    margin-right: 30px;
}

.comment-holder .text-holder {
    background: #F5F8FF;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    height: 150px;
}

.comment-holder .text-holder p {
    margin: 0;
}

.account-comment-image {
    border-radius: 45px;
    overflow: hidden;
    width: 60px;
    height: 60px;
}

.account-comment-image img {
    max-width: 60px;
}

.account-comment-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.account-comment-holder h3 {
    color: #1C1DB1;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}

.account-comment-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.account-comment-holder span {
    color: #3E3E3E;
    font-size: 12px;
    margin-left: 2px;
}

.bottom-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-wrap .rating span {
    color: #3E3E3E;
    font-size: 12px;
    margin-left: 4px;
    top: -2px;
    position: relative;
}

.delete-button {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 40px;
}

button.btn.delete-comment {
    border-radius: 0 8px 0 8px;
}


/*with one stars*/

.star-holder-one svg.svg-inline--fa.fa-star.fa-w-18 {
    color: black;
    opacity: 0.3;
    width: 25px;
    height: auto;
    margin: 0 2px;
}

.star-holder-one svg.svg-inline--fa.fa-star.fa-w-18:first-child {
    color: #fd8888;
    opacity: 1;
}

/*with two stars*/

.star-holder-two svg.svg-inline--fa.fa-star.fa-w-18 {
    color: black;
    opacity: 0.3;
    width: 25px;
    height: auto;
    margin: 0 2px;
}

.star-holder-two svg.svg-inline--fa.fa-star.fa-w-18:nth-child(1),
.star-holder-two svg.svg-inline--fa.fa-star.fa-w-18:nth-child(2){
    color: #fd8888;
    opacity: 1;
}

/*with three stars*/

.star-holder-three svg.svg-inline--fa.fa-star.fa-w-18 {
    color: black;
    opacity: 0.3;
    width: 25px;
    height: auto;
    margin: 0 2px;
}

.star-holder-three svg.svg-inline--fa.fa-star.fa-w-18:nth-child(1),
.star-holder-three svg.svg-inline--fa.fa-star.fa-w-18:nth-child(2),
.star-holder-three svg.svg-inline--fa.fa-star.fa-w-18:nth-child(3) {
    color: #fd8888;
    opacity: 1;
}

/*with four stars*/

.star-holder-four svg.svg-inline--fa.fa-star.fa-w-18 {
    color: #fd8888;
    width: 25px;
    height: auto;
    margin: 0 2px;
}

.star-holder-four svg.svg-inline--fa.fa-star.fa-w-18:last-child {
    color: black;
    opacity: 0.3;
}

/*with five stars*/

.star-holder-five svg.svg-inline--fa.fa-star.fa-w-18 {
    color: #fd8888;
    width: 25px;
    height: auto;
    margin: 0 2px;
}