label {
    font-size: 13px;
}

label a {
    color: #fd8888;
    text-decoration: none;
    transition: .25s ease;
}

label a:hover {
    color: #1C1DB1;
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-bottom: 15px;
}

input[type="checkbox"]:last-child {
    margin-bottom: 0;
}