.hidden-message {
    margin-bottom: 10px;
}

.registration-form-holder {
    max-width: 800px;
}

.registration-form-holder .checkbox-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    width: 100%;
}

.registration-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label#password-field,
label#password-field-check {
    width: calc(50% - 15px);
}

label#username-field,
label#firstNameId,
label#lastNameId {
    width: calc(100% / 3 - 15px);
}

.registration-form .password-login-wrapper {
    width: calc(50% - 15px);
}

.password-login-wrapper {
    position: relative;
}

.password-login-wrapper .eye-holder .hide-eye,
.password-login-wrapper .eye-holder .show-eye {
    position: absolute;
    right: 10px;
    top: 23px;
    font-size: 20px;
    color: #787878;
    cursor: pointer;
}

.password-login-wrapper .eye-holder .hide-eye:hover,
.password-login-wrapper .eye-holder .show-eye:hover {
    color: #fd8888;
}