

/*Pagination styling*/

.pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination > .active > a{
    background-color: #fd8888 ;
    border-color: #fd8888 ;
    color: #fff;
}
.pagination > li > a{
    border: 1px solid #fd8888 ;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination > li > a, .pagination > li > span{
    color: #fd8888;
    margin: 5px;
    border-radius: 4px;
}