.comment-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    overflow: scroll;
    padding: 50px 30px;
    box-sizing: border-box;
}

.comment-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 10px 20px 40px 0 rgb(48 63 77 / 10%);
    border-radius: 10px;
}