.add-ingredient-wrapper {
    width: 100%;
}

.add-ingredient-wrapper h2 {
    margin-bottom: 20px;
}

form.add-ingredient-form,
form.new-recipe-form{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.list-control-wrapper {
    border: 1px solid #1C1DB1;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.list-control-wrapper button.btn {
    margin: 15px;
    min-width: 160px;
}

.ingredient-input-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.ingredient-input-holder label {
    width: 85%;
}

.ingredient-input-holder label input {
    margin: 0;
    border-radius: 8px 0px 0 8px;
    border-right: 0;
}
.ingredient-input-holder label input:focus,
.direction-input-holder label textarea:focus {
    outline: 0;
}

.ingredient-input-holder button.btn.remove {
    width: 15%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 8px 8px 0;
}

.button-wrapper {
    justify-content: space-between;
    display: flex;
    border: 1px solid #fd8888;
    border-radius: 8px;
    margin-top: 15px;
    max-width: 500px;
    width: 100%;
}

.button-wrapper button.btn {
    margin: 15px;
    min-width: 160px;

}

/*Directions*/

.direction-input-holder {
    position: relative;
}

.direction-input-holder textarea {
    padding-right: 50px;
    min-height: 100px;
    border: 1px solid #fd8888;
}

.direction-input-holder button {
    position: absolute;
    right: 0;
    border-radius: 0 4px 0 4px;
}

.direction-input-holder button.btn {
    padding: 8px 14px;
}
.direction-input-holder button.btn svg {
    font-size: 20px;
}

/*PREVIEW*/

.step-holder-preview {
    max-width: 1300px;
    width: 100%;
    display: flex;
}
.step-holder-preview-inner {
    width: calc(50% - 20px);
}

.step-holder-preview-inner h3 {
    margin: 0;
}

.ingredients-overview {
    list-style: none;
    padding: 0 0 0 5px;
    margin: 0
}

.directions-overview {
    margin: 0;
}

form#recipe-detail-form {
    width: 100%;
    max-width: 500px;
}

.preview-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.preview-wrapper img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.preview-wrapper h3 {
    margin: 0;
    font-weight: 400;
    color: #aaa;
}
.header-preview {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title-wrapper {
    width:100%;
}
.boolean-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.boolean-wrapper span {
    width: 25%;
}

.boolean-wrapper span:empty {
    display: none;
}