form.new-recipe-form{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.list-control-wrapper {
    border: 1px solid #1C1DB1;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.ingredient-input-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.ingredient-input-holder label input {
    margin: 0;
    border-radius: 8px 0px 0 8px;
    border-right: 0;
}

.ingredient-input-holder label input:focus,
.direction-input-holder label textarea:focus {
    outline: 0;
}

.ingredient-input-holder button.btn.remove {
    width: 15%;
    margin: 0;
    font-size: 18px;
    display: flex;
    border-radius: 0 8px 8px 0;
}

.button-wrapper {
    justify-content: space-between;
    display: flex;
    border: 1px solid #fd8888;
    border-radius: 8px;
    margin-top: 15px;
    width: 100%;
}

.button-wrapper button.btn {
    margin: 15px;
    min-width: 160px;
}

/*Directions*/

.direction-input-holder {
    position: relative;
}

.direction-input-holder textarea {
    padding-right: 50px;
    min-height: 100px;
    border: 1px solid #fd8888;
}

.direction-input-holder button {
    position: absolute;
    right: 0;
    border-radius: 0 4px 0 4px;
}

.direction-input-holder button.btn {
    padding: 8px 14px;
}

.direction-input-holder button.btn svg {
    font-size: 20px;
}

.checkbox-wrapper-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.checkbox-wrapper-inner label {
    width: 25%;
}

.file-upload label {
    max-width: 180px;
    background: #FD8888;
    border-radius: 50px;
    border: 0;
    padding: 1em 1.5em;
    color: #fff;
    font-weight: 600;
    display: flex;
    transition: .25s ease-in-out;
}

.file-upload label:hover {
    background: #d86d6d;
}

.file-upload {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    box-sizing: border-box;
}
.file-upload .cloud {
    font-size: 20px;
    margin-right: 5px;
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/*error message*/

form.new-recipe-form span.errorMessage {
    top: 60px;
}

label#descriptionLabel span.errorMessage {
    top: 160px;
}